.productImage {
  list-style-type: none;
  width: 200px;
  padding: 20px;
  margin: 6px 6px;
}
.selectNumber{
  width: 108px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.productCard{
  flex: 1 0 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 310px;
  background: white;
  margin: 10px 40px;
  border-radius: 10px;
}

.Button{
  background-color: black;
  color: white;
  padding:5px 10px ;
  margin-bottom: 10px;
  border-radius: 5px;
}

