.productImage {
  list-style-type: none;
  width: 200px;
  padding: 20px;
  margin: 6px 6px;
}
.detailContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  background-color: white;

}
.infoContainer{
  display: flex;
  flex-direction: column  ;
  align-items: center;
  justify-content: center;
}
.addToCart{
  width: 110px;
}
.selectNumber{
  width: 108px;
  margin-bottom: 8px;
  border-radius: 5px;
}


.Button{
  background-color: black;
  color: white;
  padding:5px 10px ;
  margin-bottom: 10px;
  border-radius: 5px;
}

