h3{
  margin: 10px 10px;
}
.productImage {
  list-style-type: none;
  width: 100px;
  padding: 20px;
  margin: 6px 6px;
}
.cartItems{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 500px;
}
.dButton{
  background-color: red;
  color: white;
  padding:5px 5px ;
  margin:10px 10px ;
}
